body, html {
  margin: 0;
  padding: 0;
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}



.nav-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background: white;
  border-radius: 10px;
  padding: 20px;
}

.nav-btn {
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  text-decoration: none;
  color: black;
}

.nav-btn > span {
  font-size: 2rem;
}

.nav-btn:hover {
  background: #9e9e9e;
  transition: 0.2s all ease-in-out;
}

.nav-btn:focus, .nav-btn.active {
  background: rgba(68,17,199,1);
  color: white;
  transition: 0.2s all ease-in-out;
}


